/* screen - frame-389 */

.frame-389 {
    align-items: flex-start;
    background-color: var(--cultured-pearl);
    display: flex;
    flex-direction: column;
    height: 2609px;
    overflow: hidden;
    width: 360px;
  }
  
  .frame-389 .overlap-group5 {
    height: 2069px;
    margin-left: -324px;
    margin-top: -86px;
    position: relative;
    width: 871px;
    z-index: 1;
  }
  
  .frame-389 .overlap-group {
    height: 758px;
    left: 256px;
    position: absolute;
    top: 0;
    width: 557px;
  }
  
  .frame-389 .ellipse-990 {
    background: linear-gradient(180deg, rgb(217.69, 208.79, 251.81) 0%, rgba(226, 220, 249, 0) 100%);
    border-radius: 42.32px;
    filter: blur(4px);;
    height: 85px;
    left: 290px;
    position: absolute;
    top: 222px;
    transform: rotate(-45.00deg);
    width: 85px;
  }
  
  .frame-389 .ellipse-989 {
    background: linear-gradient(180deg, rgb(207.78, 195.74, 253.94) 0%, rgba(206, 194.33, 250.75, 0) 100%);
    border-radius: 111.27px;
    filter: blur(4px);;
    height: 223px;
    left: 289px;
    opacity: 0.5;
    position: absolute;
    top: 46px;
    transform: rotate(-45.00deg);
    width: 223px;
  }
  
  .frame-389 .vector-14 {
    height: 537px;
    left: 0;
    position: absolute;
    top: 221px;
    width: 360px;
  }
  
  .frame-389 .rectangle-3366 {
    background-color: var(--graywhite);
    height: 1619px;
    left: 324px;
    position: absolute;
    top: 450px;
    width: 360px;
  }
  
  .frame-389 .text-1-1 {
    color: var(--grayblack);
    font-weight: 700;
    left: 339px;
    line-height: 30.5px;
    position: absolute;
    text-align: center;
    top: 473px;
    white-space: nowrap;
  }
  
  .frame-389 .text-2-1 {
    color: var(--gray686e81);
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 205px;
  }
  
  .frame-389 .text-3 {
    color: var(--gray454955);
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 306px;
  }
  
  .frame-389 .text-4 {
    color: #222222;
    font-family: var(--font-family-pretendard-bold);
    font-size: 28px;
    font-weight: 700;
    left: 340px;
    letter-spacing: 0;
    line-height: 44.8px;
    position: absolute;
    top: 225px;
    white-space: nowrap;
  }
  
  .frame-389 .frame-72 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 340px;
    min-width: 60px;
    padding: 3px 16px;
    position: absolute;
    top: 338px;
  }
  
  .frame-389 .text {
    letter-spacing: 0;
    line-height: 25.6px;
    min-height: 26px;
    min-width: 28px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-398 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 408px;
    min-width: 74px;
    padding: 3px 16px;
    position: absolute;
    top: 338px;
  }
  
  .frame-389 .text-1 {
    letter-spacing: 0;
    line-height: 25.6px;
    min-height: 26px;
    min-width: 42px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-399 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 490px;
    min-width: 60px;
    padding: 3px 16px;
    position: absolute;
    top: 338px;
  }
  
  .frame-389 .frame-400 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 558px;
    min-width: 60px;
    padding: 3px 16px;
    position: absolute;
    top: 338px;
  }
  
  .frame-389 .frame-401 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 436px;
    min-width: 74px;
    padding: 3px 16px;
    position: absolute;
    top: 380px;
  }
  
  .frame-389 .frame-402 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 340px;
    min-width: 88px;
    padding: 3px 16px;
    position: absolute;
    top: 380px;
  }
  
  .frame-389 .text-10 {
    letter-spacing: 0;
    line-height: 25.6px;
    min-height: 26px;
    min-width: 56px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-403 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 518px;
    min-width: 60px;
    padding: 3px 16px;
    position: absolute;
    top: 380px;
  }
  
  .frame-389 .frame-397 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 34px;
    left: 586px;
    min-width: 74px;
    padding: 3px 16px;
    position: absolute;
    top: 380px;
  }
  
  .frame-389 .text-13 {
    color: var(--grayblack);
    font-weight: 400;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 533px;
    white-space: nowrap;
  }
  
  .frame-389 .text-14 {
    color: var(--gray686e81);
    font-weight: 400;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 720px;
    white-space: nowrap;
  }
  
  .frame-389 .text-15 {
    color: var(--gray686e81);
    font-weight: 400;
    left: 459px;
    line-height: 20.3px;
    position: absolute;
    top: 720px;
    white-space: nowrap;
  }
  
  .frame-389 .text-16 {
    color: var(--gray686e81);
    font-weight: 400;
    left: 643px;
    line-height: 20.3px;
    position: absolute;
    top: 720px;
    white-space: nowrap;
  }
  
  .frame-389 .text-17 {
    color: transparent;
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 555px;
  }
  
  .frame-389 .span {
    color: var(--grayblack);
  }
  
  .frame-389 .span1 {
    color: var(--mainmainpurple);
  }
  
  .frame-389 .text-18 {
    color: var(--grayblack);
    font-weight: 400;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 878px;
    white-space: nowrap;
  }
  
  .frame-389 .text-19 {
    color: var(--grayblack);
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 900px;
  }
  
  .frame-389 .text-20 {
    color: var(--grayblack);
    font-weight: 400;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 1172px;
    white-space: nowrap;
  }
  
  .frame-389 .rectangle-3475 {
    background-color: var(--grayf4f6f9);
    border-radius: 12px;
    height: 120px;
    left: 340px;
    position: absolute;
    top: 597px;
    width: 328px;
  }
  
  .frame-389 .rectangle-3509 {
    background-color: var(--grayf4f6f9);
    border-radius: 12px;
    height: 134px;
    left: 340px;
    position: absolute;
    top: 1236px;
    width: 328px;
  }
  
  .frame-389 .rectangle-3510 {
    background-color: var(--grayf4f6f9);
    border-radius: 12px;
    height: 142px;
    left: 340px;
    position: absolute;
    top: 1808px;
    width: 328px;
  }
  
  .frame-389 .line-34 {
    height: 120px;
    left: 473px;
    position: absolute;
    top: 597px;
    width: 1px;
  }
  
  .frame-389 .text-21 {
    color: transparent;
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 1194px;
  }
  
  .frame-389 .vector-35 {
    height: 89px;
    left: 340px;
    position: absolute;
    top: 606px;
    width: 329px;
  }
  
  .frame-389 .vector-36 {
    height: 106px;
    left: 340px;
    position: absolute;
    top: 606px;
    width: 328px;
  }
  
  .frame-389 .ellipse-1059 {
    background-color: var(--mainmainpurple);
    border-radius: 5px;
    height: 10px;
    left: 576px;
    position: absolute;
    top: 652px;
    width: 10px;
  }
  
  .frame-389 .overlap-group1 {
    align-items: flex-start;
    background-image: url(../img/union-1@2x.svg);
    background-size: 100% 100%;
    display: flex;
    height: 42px;
    left: 549px;
    min-width: 64px;
    padding: 8px 12px;
    position: absolute;
    top: 608px;
  }
  
  .frame-389 .text-22 {
    color: var(--gray454955);
    font-weight: 700;
    height: 20px;
    line-height: 20.3px;
    min-width: 40px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .rectangle-3495 {
    background-color: var(--mainpurplelight04);
    border-radius: 4px;
    height: 24px;
    left: 340px;
    position: absolute;
    top: 967px;
    width: 328px;
  }
  
  .frame-389 .rectangle-3496 {
    background-color: var(--mainmainpurple);
    border-radius: 4px 0px 0px 4px;
    height: 24px;
    left: 340px;
    position: absolute;
    top: 967px;
    width: 112px;
  }
  
  .frame-389 .rectangle-3501 {
    background-color: var(--mainpurplelight01);
    height: 24px;
    left: 452px;
    position: absolute;
    top: 967px;
    width: 81px;
  }
  
  .frame-389 .rectangle-3503 {
    background-color: var(--mainpurplelight02);
    height: 24px;
    left: 533px;
    position: absolute;
    top: 967px;
    width: 64px;
  }
  
  .frame-389 .rectangle-3505 {
    background-color: var(--mainpurplelight03);
    height: 24px;
    left: 597px;
    position: absolute;
    top: 967px;
    width: 46px;
  }
  
  .frame-389 .rectangle-3497 {
    background-color: var(--mainpurplelight04);
    border-radius: 4px;
    height: 24px;
    left: 340px;
    position: absolute;
    top: 1040px;
    width: 328px;
  }
  
  .frame-389 .rectangle-3498 {
    background-color: var(--mainmainpurple);
    border-radius: 4px 0px 0px 4px;
    height: 24px;
    left: 340px;
    position: absolute;
    top: 1040px;
    width: 148px;
  }
  
  .frame-389 .group-1757 {
    align-items: flex-start;
    display: flex;
    height: 17px;
    left: 350px;
    min-width: 307px;
    position: absolute;
    top: 1095px;
  }
  
  .frame-389 .frame-411 {
    align-items: flex-start;
    display: flex;
    height: 17px;
    min-width: 39px;
  }
  
  .frame-389 .rectangle-3446 {
    align-self: center;
    background-color: var(--mainmainpurple);
    height: 12px;
    width: 12px;
  }
  
  .frame-389 .text-2 {
    color: var(--gray686e81);
    font-weight: 500;
    line-height: 17.4px;
    margin-left: 6px;
    margin-top: -1px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .frame-389 .frame-412 {
    align-items: flex-start;
    display: flex;
    height: 17px;
    margin-left: 20px;
    min-width: 50px;
  }
  
  .frame-389 .rectangle-3447 {
    align-self: center;
    background-color: var(--mainpurplelight01);
    height: 12px;
    width: 12px;
  }
  
  .frame-389 .frame-41 {
    align-items: flex-start;
    display: flex;
    height: 17px;
    margin-left: 20px;
    min-width: 39px;
  }
  
  .frame-389 .rectangle-3448 {
    align-self: center;
    background-color: var(--mainpurplelight02);
    height: 12px;
    width: 12px;
  }
  
  .frame-389 .frame-414 {
    align-items: flex-start;
    display: flex;
    height: 17px;
    margin-left: 20px;
    min-width: 60px;
  }
  
  .frame-389 .rectangle-3449 {
    align-self: center;
    background-color: var(--mainpurplelight03);
    height: 12px;
    width: 12px;
  }
  
  .frame-389 .rectangle-3449-1 {
    align-self: center;
    background-color: var(--mainpurplelight04);
    height: 12px;
    width: 12px;
  }
  
  .frame-389 .rectangle-3402 {
    background-color: var(--grayf4f6f9);
    height: 1px;
    left: 324px;
    position: absolute;
    top: 849px;
    width: 360px;
  }
  
  .frame-389 .rectangle-3499 {
    background-color: var(--grayf4f6f9);
    height: 1px;
    left: 324px;
    position: absolute;
    top: 1142px;
    width: 360px;
  }
  
  .frame-389 .rectangle-3506 {
    background-color: var(--grayf4f6f9);
    height: 1px;
    left: 324px;
    position: absolute;
    top: 1731px;
    width: 360px;
  }
  
  .frame-389 .rectangle-3500 {
    background-color: var(--grayf4f6f9);
    height: 10px;
    left: 324px;
    position: absolute;
    top: 1520px;
    width: 360px;
  }
  
  .frame-389 .rectangle-3502 {
    background-color: var(--mainpurplelight01);
    height: 24px;
    left: 488px;
    position: absolute;
    top: 1040px;
    width: 109px;
  }
  
  .frame-389 .rectangle-3504 {
    background-color: var(--mainpurplelight02);
    height: 24px;
    left: 597px;
    position: absolute;
    top: 1040px;
    width: 59px;
  }
  
  .frame-389 .text-28 {
    color: var(--gray454955);
    font-weight: 600;
    left: 370px;
    line-height: 20.3px;
    position: absolute;
    top: 1429px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-29 {
    color: var(--gray454955);
    font-weight: 600;
    left: 370px;
    line-height: 20.3px;
    position: absolute;
    top: 1459px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-30 {
    color: var(--gray454955);
    font-weight: 600;
    left: 558px;
    line-height: 20.3px;
    position: absolute;
    text-align: right;
    top: 1459px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-31 {
    color: var(--gray454955);
    font-weight: 600;
    left: 558px;
    line-height: 20.3px;
    position: absolute;
    text-align: right;
    top: 1429px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .group-1758 {
    align-items: flex-start;
    display: flex;
    height: 141px;
    justify-content: flex-end;
    left: 340px;
    min-width: 332px;
    position: absolute;
    top: 1259px;
  }
  
  .frame-389 .flex-col {
    flex-direction: column;
    align-items: center;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 24px;
    left: 431px;
    min-width: 69px;
    padding: 1px 10px;
    position: absolute;
    top: 1380px;
  }
  
  .frame-389 .rectangle-3411 {
    background-color: var(--mainmainpurple);
    border-radius: 4px 4px 0px 0px;
    height: 19px;
    width: 24px;
  }
  
  .frame-389 .rectangle-3406 {
    background-color: var(--grayd1d7df);
    height: 92px;
    width: 24px;
  }
  
  .frame-389 .text-32 {
    color: var(--gray686e81);
    font-weight: 400;
    line-height: 20.3px;
    margin-top: 10px;
    min-height: 20px;
    text-align: center;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .flex-col-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    min-height: 122px;
    width: 25px;
  }
  
  .frame-389 .rectangle-3407 {
    background-color: var(--grayd1d7df);
    border-radius: 4px 4px 0px 0px;
    height: 92px;
    width: 24px;
  }
  
  .frame-389 .text-33 {
    color: var(--gray686e81);
    font-weight: 400;
    line-height: 20.3px;
    margin-top: 10px;
    min-height: 20px;
    min-width: 25px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .line-34-1 {
    height: 1px;
    margin-left: 121px;
    margin-top: 18.5px;
    width: 328px;
  }
  
  .frame-389 .ellipse-1038 {
    background-color: var(--grayd1d7df);
    border-radius: 6px;
    height: 12px;
    left: 350px;
    position: absolute;
    top: 1434px;
    width: 12px;
  }
  
  .frame-389 .ellipse-1060 {
    background-color: var(--gray9296a5);
    border-radius: 6px;
    height: 12px;
    left: 350px;
    position: absolute;
    top: 2004px;
    width: 12px;
  }
  
  .frame-389 .ellipse-1039 {
    background-color: var(--mainmainpurple);
    border-radius: 6px;
    height: 12px;
    left: 350px;
    position: absolute;
    top: 1464px;
    width: 12px;
  }
  
  .frame-389 .text-34 {
    color: var(--grayblack);
    font-weight: 700;
    left: 340px;
    position: absolute;
    top: 1559px;
  }
  
  .frame-389 .text-35 {
    color: var(--grayblack);
    font-weight: 700;
    left: 342px;
    position: absolute;
    top: 1766px;
  }
  
  .frame-389 .rectangle-44 {
    background-color: var(--mainmainpurple);
    border-radius: 4px 4px 0px 0px;
    height: 33px;
    left: 514px;
    position: absolute;
    top: 1917px;
    width: 32px;
  }
  
  .frame-389 .rectangle-3508 {
    background-color: var(--grayd1d7df);
    border-radius: 4px 4px 0px 0px;
    height: 85px;
    left: 358px;
    position: absolute;
    top: 1865px;
    width: 32px;
  }
  
  .frame-389 .rectangle-50 {
    background-color: var(--gray9296a5);
    border-radius: 4px 4px 0px 0px;
    height: 113px;
    left: 410px;
    position: absolute;
    top: 1837px;
    width: 32px;
  }
  
  .frame-389 .rectangle-48 {
    background-color: var(--grayd1d7df);
    border-radius: 4px 4px 0px 0px;
    height: 5px;
    left: 618px;
    position: absolute;
    top: 1945px;
    width: 32px;
  }
  
  .frame-389 .rectangle-49 {
    background-color: var(--grayd1d7df);
    border-radius: 4px 4px 0px 0px;
    height: 22px;
    left: 462px;
    position: absolute;
    top: 1928px;
    width: 32px;
  }
  
  .frame-389 .rectangle-47 {
    background-color: var(--grayd1d7df);
    border-radius: 4px 4px 0px 0px;
    height: 10px;
    left: 566px;
    position: absolute;
    top: 1940px;
    width: 32px;
  }
  
  .frame-389 .number {
    color: var(--gray454955);
    font-weight: 500;
    left: 370px;
    position: absolute;
    top: 1957px;
  }
  
  .frame-389 .text-36 {
    color: var(--gray454955);
    font-weight: 500;
    left: 415px;
    position: absolute;
    top: 1958px;
  }
  
  .frame-389 .text-37 {
    color: var(--gray454955);
    font-weight: 500;
    left: 464px;
    position: absolute;
    top: 1958px;
  }
  
  .frame-389 .text-38 {
    color: var(--mainmainpurple);
    font-weight: 500;
    left: 513px;
    position: absolute;
    top: 1958px;
  }
  
  .frame-389 .text-39 {
    color: var(--gray454955);
    font-weight: 500;
    left: 564px;
    position: absolute;
    top: 1958px;
  }
  
  .frame-389 .text-40 {
    color: var(--gray454955);
    font-weight: 500;
    left: 623px;
    position: absolute;
    top: 1958px;
  }
  
  .frame-389 .text-41 {
    color: var(--gray9296a5);
    font-weight: 500;
    left: 619px;
    line-height: 19.2px;
    position: absolute;
    top: 1815px;
    white-space: nowrap;
  }
  
  .frame-389 .line-32 {
    height: 1px;
    left: 352px;
    position: absolute;
    top: 1949px;
    width: 306px;
  }
  
  .frame-389 .group-1759 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 340px;
    min-height: 100px;
    padding: 0 8px;
    position: absolute;
    top: 1601px;
    width: 327px;
  }
  
  .frame-389 .text-container {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 20px;
    margin-right: 7.0px;
    margin-top: 80px;
    min-width: 274px;
  }
  
  .frame-389 .text-45 {
    color: var(--gray454955);
    font-weight: 400;
    line-height: 20.3px;
    min-height: 20px;
    min-width: 25px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .text-42 {
    color: var(--gray454955);
    font-weight: 400;
    line-height: 20.3px;
    margin-left: 46px;
    min-height: 20px;
    min-width: 49px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .text-43 {
    color: var(--gray454955);
    font-weight: 400;
    line-height: 20.3px;
    margin-left: 40px;
    min-height: 20px;
    min-width: 37px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .text-44 {
    color: var(--gray454955);
    font-weight: 400;
    line-height: 20.3px;
    margin-left: 52px;
    min-height: 20px;
    min-width: 25px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .flex-row {
    align-items: flex-start;
    display: flex;
    margin-top: 1415px;
    min-width: 303px;
  }
  
  .frame-389 .png-container {
    height: 70px;
    position: relative;
    width: 137px;
  }
  
  .frame-389 .apple-png-0 {
    height: 70px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 70px;
  }
  
  .frame-389 .starbucks-png-0 {
    height: 70px;
    left: 67px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 70px;
  }
  
  .frame-389 .x-png-0 {
    height: 70px;
    margin-left: 13px;
    object-fit: cover;
    width: 70px;
  }
  
  .frame-389 .union {
    height: 60px;
    left: 496px;
    position: absolute;
    top: 1855px;
    width: 72px;
  }
  
  .frame-389 .text-46 {
    color: var(--mainmainpurple);
    font-weight: 600;
    left: 511px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 1878px;
    white-space: nowrap;
  }
  
  .frame-389 .text-47 {
    color: var(--gray9296a5);
    font-weight: 500;
    left: 511px;
    position: absolute;
    top: 1864px;
  }
  
  .frame-389 .frame-434 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    height: 32px;
    left: 362px;
    min-width: 132px;
    padding: 0 10px;
    position: absolute;
    top: 1994px;
  }
  
  .frame-389 .text-48 {
    color: var(--gray454955);
    font-weight: 400;
    line-height: 20.3px;
    min-height: 20px;
    min-width: 65px;
    white-space: nowrap;
  }
  
  .frame-389 .text-49 {
    color: var(--gray686e81);
    font-weight: 600;
    height: 20px;
    line-height: 20.3px;
    margin-left: 6px;
    min-width: 41px;
    text-align: right;
    white-space: nowrap;
  }
  
  .frame-389 .text-62 {
    color: var(--gray454955);
    font-weight: 600;
    left: 370px;
    line-height: 20.3px;
    position: absolute;
    top: 768px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-63 {
    color: var(--gray454955);
    font-weight: 600;
    left: 370px;
    line-height: 20.3px;
    position: absolute;
    top: 798px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-64 {
    color: var(--gray454955);
    font-weight: 600;
    left: 558px;
    line-height: 20.3px;
    position: absolute;
    text-align: right;
    top: 798px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .text-65 {
    color: var(--gray454955);
    font-weight: 600;
    left: 558px;
    line-height: 20.3px;
    position: absolute;
    text-align: right;
    top: 768px;
    white-space: nowrap;
    width: 100px;
  }
  
  .frame-389 .ellipse-1001 {
    background-color: var(--grayd1d7df);
    border-radius: 6px;
    height: 12px;
    left: 350px;
    position: absolute;
    top: 773px;
    width: 12px;
  }
  
  .frame-389 .ellipse-1002 {
    background-color: var(--mainmainpurple);
    border-radius: 6px;
    height: 12px;
    left: 350px;
    position: absolute;
    top: 803px;
    width: 12px;
  }
  
  .frame-389 .text-66 {
    color: var(--gray454955);
    font-weight: 600;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 937px;
    white-space: nowrap;
  }
  
  .frame-389 .text-67 {
    color: var(--gray454955);
    font-weight: 600;
    left: 340px;
    line-height: 20.3px;
    position: absolute;
    top: 1010px;
    white-space: nowrap;
  }
  
  .frame-389 .frame-404 {
    align-items: flex-start;
    background-color: var(--mainpurplelight05);
    border-radius: 100px;
    display: flex;
    height: 24px;
    left: 431px;
    min-width: 69px;
    padding: 1px 10px;
    position: absolute;
    top: 1380px;
  }
  
  .frame-389 .text-68 {
    color: var(--mainmainpurple);
    font-weight: 400;
    line-height: 20.3px;
    min-height: 20px;
    min-width: 49px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-405 {
    align-items: flex-start;
    background-color: var(--grayf4f6f9);
    border-radius: 100px;
    display: flex;
    height: 24px;
    left: 528px;
    min-width: 45px;
    padding: 1px 10px;
    position: absolute;
    top: 1380px;
  }
  
  .frame-389 .text-69 {
    color: var(--gray686e81);
    font-weight: 400;
    line-height: 20.3px;
    min-height: 20px;
    min-width: 25px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-433 {
    align-items: center;
    background-color: #ffefef;
    border-radius: 100px;
    display: flex;
    height: 27px;
    left: 589px;
    min-width: 77px;
    padding: 0 8px;
    position: absolute;
    top: 1997px;
  }
  
  .frame-389 .text-7 {
    color: var(--gray454955);
    font-weight: 500;
    margin-top: 1.0px;
    min-height: 14px;
    min-width: 21px;
  }
  
  .frame-389 .text-71 {
    color: var(--red);
    font-weight: 600;
    height: 19px;
    line-height: 18.9px;
    margin-left: 4px;
    min-width: 36px;
    text-align: right;
    white-space: nowrap;
  }
  
  .frame-389 .frame-432 {
    align-items: center;
    background-color: #f0f3ff;
    border-radius: 100px;
    display: flex;
    height: 27px;
    left: 508px;
    min-width: 73px;
    padding: 0 8px;
    position: absolute;
    top: 1997px;
  }
  
  .frame-389 .text-73 {
    color: var(--blue);
    font-weight: 600;
    height: 19px;
    line-height: 18.9px;
    margin-left: 4px;
    min-width: 32px;
    white-space: nowrap;
  }
  
  .frame-389 .rectangle-3367 {
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    backdrop-filter: blur(20px) brightness(100%);
    background-color: var(--black-haze);
    height: 100px;
    left: 0;
    position: fixed;
    top: 0;
    width: 360px;
    z-index: 4;
  }
  
  .frame-389 .status-bar-i-phone-x-or-newer {
    align-items: center;
    display: flex;
    height: 44px;
    left: 0;
    padding: 11px 14.7px;
    position: fixed;
    top: 0;
    width: 360px;
    z-index: 7;
  }
  
  .frame-389 .time {
    align-items: flex-end;
    align-self: flex-end;
    border-radius: 24px;
    display: flex;
    height: 21px;
    margin-left: 9px;
    min-width: 54px;
    padding: 0 10px;
  }
  
  .frame-389 .x941 {
    letter-spacing: -0.50px;
    line-height: 20px;
    min-height: 20px;
    min-width: 34px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .right-side {
    height: 11px;
    margin-left: 201px;
    margin-top: 2.0px;
    width: 67px;
  }
  
  .frame-389 .icon-notifications {
    height: 24px;
    left: 319px;
    position: fixed;
    top: 58px;
    width: 24px;
    z-index: 5;
  }
  
  .frame-389 .group-1813 {
    align-items: flex-start;
    display: flex;
    height: 24px;
    left: 16px;
    min-width: 48px;
    position: fixed;
    top: 59px;
    z-index: 6;
  }
  
  .frame-389 .ellipse-container {
    height: 24px;
    margin-top: 0;
    position: relative;
    width: 48px;
  }
  
  .frame-389 .ellipse-1068 {
    background: linear-gradient(180deg, rgb(81.6, 0, 255) 0%, rgba(81.6, 0, 255, 0) 100%);
    border-radius: 12px;
    height: 24px;
    left: 12px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .frame-389 .ellipse-1069 {
    background: linear-gradient(180deg, rgb(81.6, 0, 255) 0%, rgba(81.6, 0, 255, 0) 100%);
    border-radius: 12px;
    height: 24px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .frame-389 .ellipse-1067 {
    background-color: var(--mainmainpurple);
    border-radius: 12px;
    height: 24px;
    left: 24px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .frame-389 .group-1676 {
    -webkit-backdrop-filter: blur(20px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(20px) brightness(100%);
    background-color: var(--white);
    display: flex;
    height: 82px;
    left: 0;
    min-width: 360px;
    padding: 13px 28px;
    position: fixed;
    top: 718px;
    z-index: 8;
  }
  
  .frame-389 .group-1697 {
    align-items: flex-end;
    display: flex;
    height: 52px;
    justify-content: flex-end;
    min-width: 34px;
  }
  
  .frame-389 .text-74 {
    color: var(--mainmainpurple);
    font-weight: 500;
    line-height: 19.2px;
    min-height: 19px;
    min-width: 11px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .icon-home {
    height: 32px;
    margin-bottom: -711px;
    margin-left: 6px;
    width: 32px;
  }
  
  .frame-389 .group-169 {
    align-items: flex-end;
    display: flex;
    height: 52px;
    margin-left: 56px;
    min-width: 34px;
  }
  
  .frame-389 .text-7-1 {
    color: var(--gray9296a5);
    font-weight: 500;
    line-height: 19.2px;
    min-height: 19px;
    min-width: 32px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .local-fire-department {
    height: 32px;
    margin-bottom: -711px;
    margin-left: 86px;
    width: 32px;
  }
  
  .frame-389 .poll {
    height: 32px;
    margin-bottom: -711px;
    margin-left: 176px;
    width: 32px;
  }
  
  .frame-389 .group-1696 {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    min-height: 48px;
    width: 34px;
  }
  
  .frame-389 .text-77 {
    color: var(--gray9296a5);
    font-weight: 500;
    line-height: 19.2px;
    margin-right: 2.0px;
    margin-top: 29px;
    min-height: 19px;
    min-width: 32px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .vector {
    height: 24px;
    margin-top: 687px;
    width: 24px;
  }
  
  .frame-389 .group-1714 {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
    min-width: 360px;
    z-index: 2;
  }
  
  .frame-389 .flex-row-1 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    height: 282px;
    min-width: 360px;
    padding: 0 16px;
  }
  
  .frame-389 .flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 222px;
    width: 160px;
  }
  
  .frame-389 .text-50 {
    color: var(--grayblack);
    font-weight: 700;
    line-height: 30.5px;
    min-height: 30px;
    white-space: nowrap;
  }
  
  .frame-389 .overlap-group1-1 {
    background-image: url(../img/rectangle-25@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 180px;
    margin-top: 12px;
    position: relative;
    width: 160px;
  }
  
  .frame-389 .rectangle-337 {
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
    background-color: var(--grayblack);
    border-radius: 0px 0px 12px 12px;
    height: 80px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 100px;
    width: 160px;
  }
  
  .frame-389 .bts {
    color: var(--graywhite);
    font-weight: 600;
    left: 14px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 111px;
    white-space: nowrap;
  }
  
  .frame-389 .text-51 {
    color: var(--graywhite);
    font-weight: 600;
    left: 119px;
    line-height: 25.6px;
    position: absolute;
    text-align: center;
    top: 137px;
    white-space: nowrap;
  }
  
  .frame-389 .frame-77 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 17px;
    left: 14px;
    min-width: 39px;
    padding: 0 8px;
    position: absolute;
    top: 146px;
  }
  
  .frame-389 .bts-1 {
    color: var(--regent-gray);
    font-weight: 500;
    line-height: 17.4px;
    margin-top: -1px;
    min-height: 17px;
    min-width: 23px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-78 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 17px;
    left: 57px;
    min-width: 52px;
    padding: 0 8px;
    position: absolute;
    top: 146px;
  }
  
  .frame-389 .k-pop {
    color: var(--regent-gray);
    font-weight: 500;
    line-height: 17.4px;
    margin-top: -1px;
    min-height: 17px;
    min-width: 36px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .flex-col-3 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 5.0px;
    min-height: 217px;
    width: 160px;
  }
  
  .frame-389 .text-5 {
    color: var(--gray9296a5);
    font-weight: 400;
    line-height: 20.3px;
    min-height: 20px;
    min-width: 37px;
    white-space: nowrap;
  }
  
  .frame-389 .overlap-group2 {
    background-image: url(../img/rectangle-3377@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 180px;
    margin-top: 17px;
    position: relative;
    width: 160px;
  }
  
  .frame-389 .text-53 {
    color: var(--graywhite);
    font-weight: 600;
    left: 14px;
    line-height: 24px;
    position: absolute;
    top: 111px;
    white-space: nowrap;
  }
  
  .frame-389 .text-54 {
    color: var(--graywhite);
    font-weight: 600;
    left: 124px;
    line-height: 25.6px;
    position: absolute;
    text-align: center;
    top: 137px;
    white-space: nowrap;
  }
  
  .frame-389 .frame-79 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 17px;
    left: 14px;
    min-width: 48px;
    padding: 0 8px;
    position: absolute;
    top: 146px;
  }
  
  .frame-389 .text-5-1 {
    color: var(--regent-gray);
    font-weight: 500;
    line-height: 17.4px;
    margin-top: -1px;
    min-height: 17px;
    min-width: 32px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .frame-80 {
    align-items: flex-start;
    background-color: var(--graywhite);
    border-radius: 100px;
    display: flex;
    height: 17px;
    left: 66px;
    min-width: 48px;
    padding: 0 8px;
    position: absolute;
    top: 146px;
  }
  
  .frame-389 .group-1715 {
    align-items: flex-start;
    display: flex;
    margin-top: 10px;
    min-width: 370px;
    z-index: 3;
  }
  
  .frame-389 .flex-row-2 {
    align-items: flex-start;
    background-color: var(--graywhite);
    display: flex;
    height: 324px;
    justify-content: flex-end;
    min-width: 360px;
    padding: 30px 16px;
  }
  
  .frame-389 .flex-col-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 172px;
    width: 96px;
  }
  
  .frame-389 .text-57 {
    color: var(--grayblack);
    font-weight: 700;
    line-height: 30.5px;
    margin-right: 2.0px;
    min-height: 30px;
    min-width: 94px;
    white-space: nowrap;
  }
  
  .frame-389 .overlap-group2-1 {
    align-items: center;
    background-color: var(--grayf4f6f9);
    border-radius: 100px;
    display: flex;
    height: 96px;
    margin-top: 14px;
    min-width: 96px;
    padding: 0 5px;
  }
  
  .frame-389 .rectangle-3380 {
    cursor: pointer;
    height: 86px;
    width: 86px;
  }
  
  .frame-389 .text-59 {
    color: var(--gray454955);
    font-weight: 600;
    line-height: 24px;
    margin-right: 1.0px;
    margin-top: 8px;
    min-height: 24px;
    min-width: 49px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .flex-col-5 {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 48.0px;
    margin-left: 16px;
    min-height: 128px;
    width: 96px;
  }
  
  .frame-389 .overlap-group-1 {
    align-items: center;
    background-color: var(--grayf4f6f9);
    border-radius: 100px;
    display: flex;
    height: 96px;
    min-width: 96px;
    padding: 0 5px;
  }
  
  .frame-389 .rectangle-3381 {
    height: 86px;
    object-fit: cover;
    width: 86px;
  }
  
  .frame-389 .text-60 {
    color: var(--gray454955);
    font-weight: 600;
    line-height: 24px;
    margin-top: 8px;
    min-height: 24px;
    min-width: 52px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame-389 .flex-col-6 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 7px;
    min-height: 165px;
    width: 100px;
  }
  
  .frame-389 .overlap-group1-2 {
    align-items: center;
    background-color: var(--grayf4f6f9);
    border-radius: 100px;
    display: flex;
    height: 96px;
    justify-content: flex-end;
    margin-right: 4px;
    margin-top: 17px;
    min-width: 96px;
  }
  
  .frame-389 .rectangle-3382 {
    height: 70px;
    object-fit: cover;
    width: 70px;
  }
  
  .frame-389 .rectangle-3383 {
    align-self: flex-end;
    height: 86px;
    margin-bottom: -2359px;
    margin-left: 171px;
    object-fit: cover;
    width: 86px;
  }
  
  .frame-389 .text-61 {
    align-self: center;
    color: var(--gray454955);
    font-weight: 600;
    line-height: 24px;
    margin-right: 6.0px;
    margin-top: 8px;
    min-height: 24px;
    min-width: 52px;
    text-align: center;
    white-space: nowrap;
  }
  